@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Orbitron:wght@800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --ff-logo: "Orbitron", sans-serif;
  --ff-primary: "Comfortaa", sans-serif;
}

body {
  min-height: 100svh;
  font-family: var(--ff-primary);
  max-width: 1440px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline: 0;
  list-style-type: none;
}

/* themes */
.default {
  --bg-primary: white;
}
