@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Orbitron:wght@800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --ff-logo: "Orbitron", sans-serif;
  --ff-primary: "Comfortaa", sans-serif;
}

body {
  min-height: 100svh;
  font-family: var(--ff-primary);
  max-width: 1440px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline: 0;
  list-style-type: none;
}

/* themes */
.bright {
  --bg-primary: white;
  --card-col: rgba(243, 243, 243, 0.5);
  --text-secondary: rgb(154, 154, 154);
  --text-primary: rgb(0, 0, 0);
  --strokes-col: rgb(0, 0, 0);
}

.dark {
  --text-primary: rgb(200, 200, 200);
  --bg-primary: rgb(25, 25, 25);
  --card-col: rgb(0, 0, 0);
  --text-secondary: rgb(154, 154, 154);
  --strokes-col: rgb(255, 255, 255);
}
